[Unit]
Description={{ nodejs_app_name }} Node.js application
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/{{ nodejs_app_name }}
ExecStart=/usr/bin/node /opt/{{ nodejs_app_name }}/app.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
